<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">
        <activity
            android:name=".compose_examples.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".compose_examples.SecondActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".compose_examples.AppBarExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".compose_examples.PostCardActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".compose_examples.ButtonExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".compose_examples.TextFieldExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".loggin_screen.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".loggin_screen_all_screen_size.LoginAllScreenActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


        <activity
            android:name=".compose_examples.ScaffoldActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


        <activity
            android:name=".compose_side_effects.SideEffectsActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AndroidKotlinJavaDsWorkbench">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>